.allplots-container {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 6rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* HEADER */
.allplots-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    border: 1px dashed #999; /* debug */
}

.allplots-header a {
    padding: 0.4rem 1.5rem;
    background-color: var(--color-five);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--color-nine);
    font-size: 0.95rem;
    text-decoration: none;
    color: var(--color-six);
}



/* BODY: LEFT + RIGHT */
.allplots-body {
    width: 100%;
    height: calc(100% - 4rem);
    display: flex;
    gap: 1.5rem;
}



/* LEFT SIDE CONTENT */
.allplots-leftcon {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px dashed #999;
}

.plots-actionsbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.plotselection-box {
    padding: 0.4rem 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--color-five);
}

.plots-areabox {
    flex: 1;
    border: 1px dashed #999;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1.3rem;
    padding: 0.2rem 0;
    width: 100%;
}

.plots-areabox h2{
    text-align: left;
    width: 100%;
    padding: 0 0.1rem;
}

.infotxt {
    font-weight: 500;
    font-size: 0.85rem;
    color: var(--color-six);
    padding: 0.5rem 0;
    width: 100%;
}



/* RIGHT SIDE CONTENT */
.allplots-rightcon {
    width: 30%;
    height: 100%;
    border: 1px dashed #999; /* debug */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.infoMeta h1,
.csvfiledata-infobox h3 {
    margin-bottom: 0.3rem;
}

.metaInfoBox {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
