
nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  border: none;
  background-color: var(--color-five);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
}

nav a{
  text-decoration: none;
  font-size: 1.08rem;
  font-weight: 500;
  color: var(--color-six);
}
